* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
}

.bdy {
    height: auto;
    width: 100%;
    background-color: gray;
    position: relative;
}

.sec1 {
    height: auto;
    width: 49%;
    position: absolute;
    left: 0;
    margin-bottom: 10px;
}

.sec2 {
    height: 600px;
    width: 49%;
    position: absolute;
    right: 0;
}

.sec1 h5 {
    font-size: 24px;
    margin: 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.glance {
    background-color: white;
    height: auto;
    width: 100%;
    /* margin-left: 20px; */
    margin-bottom: 30px;
    position: relative;
    border: 1px solid gray;
}

.glance h6 {
    font-size: 17px;
    padding: 8px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

.a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.a1 {
    float: right;
    margin-right: 50px;
    text-decoration: none;
    color: black;
}

.wpform {
    background-color: white;
    height: 668px;
    width: 100%;
    /* margin-left: 20px; */
    position: relative;
    margin-bottom: 30px;
    border: 1px solid gray;
}

.wpform h6 {
    font-size: 17px;
    padding: 8px;
    border-bottom: 1px solid gray;
}

.wpimg {
    object-fit: cover;
    height: 500px;
    width: 100%;
    background: url("https://cdn.statcdn.com/Statistic/660000/664729-blank-754.png");
    text-align: center;
    position: absolute;
    top: auto;
    border-bottom: 2px solid gray;
}

.divform {
    background-color: white;
    opacity: 1;
    height: 53%;
    width: 63%;
    margin-top: 100px;
    margin-left: 19%;
    margin-right: 60px;
    padding-top: 10px;
    box-shadow: 0px 0px 30px black;
    line-height: 5px;
    letter-spacing: 0.5px;
}

.divform p {
    font-size: 15px;
    text-align: center;
}

div button {
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #e27730;
    padding: 15px;
    color: white;
    padding: 15px 20px 15px 15px;
    margin: 18px;
    cursor: pointer;
}

.footer {
    color: black;
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 150px;
}

.footer h5 {
    margin: 5px;
    font-size: 16px;
    padding-left: 0px;
}

.footer hr {
    margin: 0px;
}

.footer p {
    font-size: 15px;
    padding: 0px;
}

.footer p a {
    color: #0073aa;
    font-size: 20px;
}


/* Aishvarya Code */


/* Site Health Status */

.sitehealth {
    border: 1px solid gray;
    height: auto;
    width: 100%;
    background-color: white;
    position: relative;
    margin-bottom: 30px;
}

h4 {
    font-size: 17px;
    border-bottom: 1px solid gray;
    padding: 8px 0px;
    padding-left: 8px;
    font-weight: bold;
}

.sitehealth p a {
    text-decoration: none;
    color: #0073aa;
    font-size: 16px;
}

.circle {
    border: 2px solid green;
    border-right: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 47px;
    left: 200px;
}

.good {
    font-size: 16px;
    text-align: center;
    margin: 7px 0px 20px 0px;
    height: 10px;
}

.sitehealth p {
    font-size: 15px;
    margin-left: px;
    line-height: 20px;
    margin-left: 5px;
    padding-bottom: 5px;
}

.quickdraft {
    margin-top: 42px;
    border: 1px solid gray;
    height: auto;
    width: 100%;
    background-color: white;
}

.quickdraft h4 {
    border-bottom: 1px solid gray;
    padding: 8px;
}

form label {
    padding: 5px 5px;
}

.title {
    width: 100%;
    height: 26px;
    border-radius: 6px;
    outline-style: none;
}

form {
    margin: 10px 8px;
}

.content {
    height: 100px;
    width: 100%;
}

.savedraftbutton {
    height: 35px;
    width: auto;
    background-color: #e27730;
    margin: 2px;
    padding: 2px 10px;
}


/* WooCommerce Recent Review */

.woocommerce {
    border: 1px solid grey;
    height: auto;
    width: auto;
    background-color: white;
    margin-bottom: 30px;
}

div h4 {
    padding: 10px;
    border-bottom: 1px solid gray;
}

div p {
    font-size: 15px;
    padding: 10px 5px;
}


/* Activity */

.activity {
    padding-left: 0px;
    border: 1px solid grey;
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 80px;
}

h3,
p {
    margin: 8px 8px;
}

.activity ul span {
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    color: gray;
    margin: 8px 8px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.activity ul li a {
    text-decoration: none;
    color: #0073aa;
    font-size: 18px;
}


/* Woocommorce Status */

.woocommercestatus {
    border: 1px solid grey;
    height: 120px;
    width: auto;
    border-bottom: none;
    margin-top: 30px;
    background-color: white;
}

h4 {
    margin: 8px 8px;
}

table,
td {
    background-color: white;
    border: 1px solid grey;
    border-collapse: collapse;
}

.table p,
td,
i,
a {
    color: #21759b;
}

i {
    margin: 10px 10px;
}

td {
    padding: 15px;
}

td,
i,
p {
    text-align: left;
}

td:hover {
    color: rgb(33, 152, 231);
}