@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}
.navbar {
  background-color: white !important;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565382;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565382;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}
